In [2]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 36 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 19.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=7a3e04eb7ce10016684010aa7661a5839ea9f0a6e71254c77d9d559dc980b690
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

### Importing the modules

In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row
appName= "hive_pyspark"
master= "local"

### Creating Spark Session

In [4]:
spark = SparkSession.builder \
	.master(master).appName(appName).enableHiveSupport().getOrCreate()

### 1. Reading CSV File and Writing to Table

In [25]:
df=spark.read.csv("boston.csv",header=True, inferSchema= True)
df.show(5)
datafile.write.saveAsTable("BostonData")

+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|       CRIM|  ZN|      INDUS|CHAS|        NOX|         RM|        AGE|        DIS|RAD|TAX|         PT|          B|      LSTAT|         MV|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|    0.00632|18.0|2.309999943|   0|0.537999988|6.574999809|65.19999695|4.090000153|  1|296|15.30000019|396.8999939|4.980000019|       24.0|
|0.027310001| 0.0|7.070000172|   0|0.469000012|6.421000004|78.90000153|4.967100143|  2|242|17.79999924|396.8999939|9.140000343|21.60000038|
|    0.02729| 0.0|7.070000172|   0|0.469000012|7.184999943|61.09999847|4.967100143|  2|242|17.79999924|392.8299866| 4.03000021|34.70000076|
|0.032370001| 0.0|2.180000067|   0|0.458000004|6.998000145|45.79999924|6.062200069|  3|222|18.70000076|394.6300049|2.940000057|33.40000153|
|0.069049999| 0.0|2.180000067|   0|0.458000004|7.146999836|54.20000076|6.062200069|  3|222|18.70000076|396.8999939|5.329999924|36.20000076|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
only showing top 5 rows

### 2. Fetching rows from the table

In [26]:
df1=spark.sql("select * from BostonData limit 5")
df1.show()

+-----------+---+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|       CRIM| ZN|      INDUS|CHAS|        NOX|         RM|        AGE|        DIS|RAD|TAX|         PT|          B|      LSTAT|         MV|
+-----------+---+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|    0.00632| 18|2.309999943|   0|0.537999988|6.574999809|65.19999695|4.090000153|  1|296|15.30000019|396.8999939|4.980000019|         24|
|0.027310001|  0|7.070000172|   0|0.469000012|6.421000004|78.90000153|4.967100143|  2|242|17.79999924|396.8999939|9.140000343|21.60000038|
|    0.02729|  0|7.070000172|   0|0.469000012|7.184999943|61.09999847|4.967100143|  2|242|17.79999924|392.8299866| 4.03000021|34.70000076|
|0.032370001|  0|2.180000067|   0|0.458000004|6.998000145|45.79999924|6.062200069|  3|222|18.70000076|394.6300049|2.940000057|33.40000153|
|0.069049999|  0|2.180000067|   0|0.458000004|7.146999836|54.20000076|6.062200069|  3|222|18.70000076|396.8999939|5.329999924|36.20000076|
+-----------+---+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+

## Data exploration

### Printing the schema of the table

In [28]:
df.printSchema()

root
 |-- CRIM: double (nullable = true)
 |-- ZN: double (nullable = true)
 |-- INDUS: double (nullable = true)
 |-- CHAS: integer (nullable = true)
 |-- NOX: double (nullable = true)
 |-- RM: double (nullable = true)
 |-- AGE: double (nullable = true)
 |-- DIS: double (nullable = true)
 |-- RAD: integer (nullable = true)
 |-- TAX: integer (nullable = true)
 |-- PT: double (nullable = true)
 |-- B: double (nullable = true)
 |-- LSTAT: double (nullable = true)
 |-- MV: double (nullable = true)

In [33]:
print(df.count())

506

### Performing descriptive analytics

In [29]:
df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
CRIM,506,3.6135235608162057,8.601545086715594,0.00632,88.97619629
ZN,506,11.363636363636363,23.32245299451514,0.0,100.0
INDUS,506,11.136778749531626,6.86035298095724,0.460000008,27.73999977
CHAS,506,0.0691699604743083,0.2539940413404101,0,1
NOX,506,0.5546950602312246,0.1158776754570543,0.38499999,0.870999992
RM,506,6.28463438896641,0.7026171549511354,3.561000109,8.779999733
AGE,506,68.57490120115612,28.148861532793276,2.900000095,100.0
DIS,506,3.7950426960059325,2.105710142043288,1.129600048,12.12650013
RAD,506,9.549407114624506,8.707259384239366,1,24
TAX,506,408.2371541501976,168.53711605495903,187,711
PT,506,18.45553382776679,2.164945780039869,12.60000038,22.0
B,506,356.67402960597883,91.29486340272308,0.319999993,396.8999939
LSTAT,506,12.653063233922925,7.141061500195388,1.730000019,37.97000122
MV,506,22.53280636250988,9.197104107945272,5.0,50.0

### 3. Correlation between independent variables and target variable

In [31]:
import six
for i in df.columns:
    if not( isinstance(df.select(i).take(1)[0][0], six.string_types)):
        print( "Correlation to MV for ", i, df.stat.corr('MV',i))

Correlation to MV for  CRIM -0.3883046116575088
Correlation to MV for  ZN 0.36044534463752903
Correlation to MV for  INDUS -0.48372517128143383
Correlation to MV for  CHAS 0.17526017775291847
Correlation to MV for  NOX -0.4273207763683772
Correlation to MV for  RM 0.695359937127267
Correlation to MV for  AGE -0.37695456714288667
Correlation to MV for  DIS 0.24992873873512172
Correlation to MV for  RAD -0.3816262315669168
Correlation to MV for  TAX -0.46853593528654536
Correlation to MV for  PT -0.5077867038116085
Correlation to MV for  B 0.3334608226834164
Correlation to MV for  LSTAT -0.7376627294671615
Correlation to MV for  MV 1.0

### Preparing data for Machine Learning

In [32]:
from pyspark.ml.feature import VectorAssembler
vectorAssembler = VectorAssembler(inputCols = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PT', 'B', 'LSTAT'], outputCol = 'features')
data = vectorAssembler.transform(df)
data = data.select(['features', 'MV'])
data.show(3)

+--------------------+-----------+
|            features|         MV|
+--------------------+-----------+
|[0.00632,18.0,2.3...|       24.0|
|[0.027310001,0.0,...|21.60000038|
|[0.02729,0.0,7.07...|34.70000076|
+--------------------+-----------+
only showing top 3 rows

In [36]:
split = data.randomSplit([0.7, 0.3])
train_df = split[0]
test_df = split[1]

## 4. Linear Regression

In [37]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol = 'features', labelCol='MV', maxIter=10, regParam=0.3, elasticNetParam=0.8)
model = lr.fit(train_df)
print("Coefficients: " + str(model.coefficients))
print("Intercept: " + str(model.intercept))

Coefficients: [-0.047673944100257146,0.03647342467291216,-0.00015965117857064126,2.5045878267981356,-6.387117333907475,4.328036917361635,0.0,-0.8861832117982049,0.0,0.0,-0.6928954982414168,0.008936117245364859,-0.5346268137913528]
Intercept: 18.285618677048184

### Summarizing the model over the training set and print out RMSE & r2

In [39]:
train_summary = model.summary
print("RMSE: %f" % train_summary.rootMeanSquaredError)
print("r2: %f" % train_summary.r2)
# approximate 72% of the variability in “MV” is explained using the model

RMSE: 5.021014
r2: 0.720259

In [40]:
train_df.describe().show()

+-------+------------------+
|summary|                MV|
+-------+------------------+
|  count|               351|
|   mean|22.949287801692304|
| stddev|  9.50677015970349|
|    min|               5.0|
|    max|              50.0|
+-------+------------------+

### 5. Evaluating the test data using RMSE &r2

In [41]:
pred = model.transform(test_df)
pred.select("prediction","MV","features").show(5)
from pyspark.ml.evaluation import RegressionEvaluator
eval = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="MV",metricName="r2")
print("R Squared (R2) on test data = %g" % eval.evaluate(pred))

+------------------+-----------+--------------------+
|        prediction|         MV|            features|
+------------------+-----------+--------------------+
|31.943134584708375|32.20000076|[0.00906,90.0,2.9...|
|27.785387060556005|       22.0|[0.01096,55.0,2.2...|
| 31.22425062929339|35.40000153|[0.01311,90.0,1.2...|
| 18.41217950487228|18.89999962|[0.0136,75.0,4.0,...|
| 32.36606656259259|31.60000038|[0.01432,100.0,1....|
+------------------+-----------+--------------------+
only showing top 5 rows

R Squared (R2) on test data = 0.71874

In [42]:
result = model.evaluate(test_df)
print("Root Mean Squared Error (RMSE) on test data = %g" % result.rootMeanSquaredError)

Root Mean Squared Error (RMSE) on test data = 4.44429

In [43]:
print("numIterations: %d" % train_summary.totalIterations)
print("objectiveHistory: %s" % str(train_summary.objectiveHistory))
train_summary.residuals.show()

numIterations: 10
objectiveHistory: [0.5000000000000004, 0.43533684898553865, 0.2347299998224293, 0.20949368286859374, 0.18338975243156624, 0.18094323682458072, 0.18016655301597984, 0.17936885186476423, 0.17832818622413543, 0.1775753486206481, 0.17746067702828583]

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+-------------------+
|          residuals|
+-------------------+
| -6.620555694373017|
| 1.0068722003211548|
| 10.457479965805277|
|-2.0976868175586105|
|-3.7581211881315397|
| 6.9918673863298295|
|  7.530735573867005|
| 0.3504311934349502|
|  7.839294976312793|
|-1.0813622360432227|
|  8.907794993631867|
|-2.0248618737414006|
|  4.592436770615073|
| -0.747083322119348|
|  -9.07050717750991|
|  3.694896394690822|
|-3.4029100637716994|
|0.21148878678473437|
| -2.583178645424592|
| 0.6715106035381098|
+-------------------+
only showing top 20 rows

In [44]:
prediction = model.transform(test_df)
prediction.select("prediction","MV","features").show()

+------------------+-----------+--------------------+
|        prediction|         MV|            features|
+------------------+-----------+--------------------+
|31.943134584708375|32.20000076|[0.00906,90.0,2.9...|
|27.785387060556005|       22.0|[0.01096,55.0,2.2...|
| 31.22425062929339|35.40000153|[0.01311,90.0,1.2...|
| 18.41217950487228|18.89999962|[0.0136,75.0,4.0,...|
| 32.36606656259259|31.60000038|[0.01432,100.0,1....|
| 26.57163925793752|30.10000038|[0.01709,90.0,2.0...|
|26.985624977815355|23.10000038|[0.0187,85.0,4.15...|
|28.612484680485835|23.89999962|[0.025429999,55.0...|
|27.714442154810044|       22.0|[0.03537,34.0,6.0...|
|23.180730724678263|20.89999962|[0.03548,80.0,3.6...|
|30.466829985088367|27.89999962|[0.036150001,80.0...|
| 22.45473336250261|20.70000076|[0.037379999,0.0,...|
|26.226841850107373|23.20000076|[0.038710002,52.5...|
| 21.08571798378793|21.10000038|[0.039609998,0.0,...|
|24.922303611164327|23.29999924|[0.045600001,0.0,...|
| 32.73541019587097|30.29999924|[0.046659999,80.0...|
| 23.28289003248087|11.89999962|[0.04741,0.0,11.9...|
|25.596565064510422|21.89999962|[0.048190001,80.0...|
|30.065820438706304|28.20000076|[0.049320001,33.0...|
|24.416146276061454|23.89999962|[0.050590001,0.0,...|
+------------------+-----------+--------------------+
only showing top 20 rows